/**
* Slot Machine
* coded with ♥ by Niccolò Mineo
* www.niccolomineo.com
* © 2018
*/

body {
  cursor: default;
  margin: 0;
}

#slotmachine-container {
  background-color: darkgray;
  outline: 8px solid darkgray;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: .5s fadeIn .5s forwards;
  -moz-animation: .5s fadeIn .5s forwards;
  -ms-animation: .5s fadeIn .5s forwards;
  -o-animation: .5s fadeIn .5s forwards;
  animation: .5s fadeIn .5s forwards;
  box-shadow: -24px -65px 0px 74px white, 0px 10px 80px 6px lightgray;
}

#slotmachine {
  margin-top: 40px;
  text-align: center;
}

#slotmachine ul {
  width: 200px;
  background-color: white;
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}

#slotmachine ul:not(:last-of-type) {
  padding-right: 5px;
}

#slotmachine ul li img {
  width: 100px;
  height: 100px;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}